<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<p class="plavo">My name is Mina Radovanović, I m 15 years old.</p>
<img src="https://www.recepti.com/img/recipe/15242-tufahije_zoom.jpg">

